<div class="container">
  <header>
    <div class="header-content">
      <div>
        <h1>🚀 RedisInsight Middleware</h1>
        <p>Real-Time RESP Protocol Analysis</p>
      </div>

      <div class="filter-control">
        <label for="startDate">Start from:</label>
        <input 
          type="datetime-local" 
          id="startDate"
          [(ngModel)]="filterDate" 
          (change)="onFilterChange()" 
        />
        <button (click)="onFilterChange()">Refresh</button>
      </div>
    </div>
  </header>

  <div class="scorecards">
    <div class="card">
      <h3>OPS / Sec</h3>
      <div class="value">{{ currentOpsPerSec }}</div>
    </div>
    <div class="card">
      <h3>Clients</h3>
      <div class="value">{{ connectedClients }}</div>
    </div>
    <div class="card">
      <h3>Live Status</h3>
      <div class="value status-ok">CONNECTED</div>
    </div>
  </div>

  <div class="chart-container">
    <h2>Server Health (Live)</h2>
    <div style="display: block;">
      <canvas baseChart width="400" height="100"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="'line'">
      </canvas>
    </div>
  </div>

  <div class="table-container">
    <h2>Recent Traffic Inspection</h2>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Command</th>
          <th>Key</th>
          <th>Payload (Bytes)</th>
          <th>Latency (ms)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of requestLogs" [class.error-row]="!log.isSuccess">
          <td>{{ log.timestamp | date:'HH:mm:ss' }}</td>
          <td><span class="badge">{{ log.command }}</span></td>
          <td>{{ log.key }}</td>
          <td>{{ log.payloadSize }}</td>
          <td>{{ log.latencyMs }}</td>
          <td>
            <span *ngIf="log.isHit" class="tag hit">HIT</span>
            <span *ngIf="!log.isHit && log.command === 'GET'" class="tag miss">MISS</span>
            <span *ngIf="!log.isSuccess" class="tag error">ERR</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>